.box{
    width: 260px;
    border: 1px solid black;
    margin: 25px;
    padding: 14px;
    border-radius: 14px;
}

.box-img{
    width: 100%;
    border-radius: 14px;

}

.box-card{
    padding: 10px;
}
