div{
    height: 80px;
    width: 80px;
    background: #b90e0e;
    padding: 10px;
}

.box:hover{
    background: #0fca1b;
    color: aqua;
    font-weight:bold;
}

.box:active{
    height: 100px;
    width: 100px;
    font-size: 25pt;
    background-color: darkslategray;
}

input:focus{
    font-size: 30pt;
    width: 200px;
}