/*Adjacent sibling selector
General sibling selector
Child selector
Descendant selector*/

h2+p{
    font-weight: bold;
}

h2~p{
    color: red;
}

section>p{
    background: #0a2cd6;
}

section p{
    font-family: monospace;
}